In [ ]:
#step 3
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [ ]:
#step 4
# to show us the ploots without having to call them
%matplotlib inline

In [ ]:
#step 5
# to import a dataframe
gdp_df = pd.read_csv('../data/gdp_percapita.csv')
gdp_df.head(6)

Country or Area Year Value Value Footnotes
    
0	Afghanistan	        2020	1970.560169	     NaN

1	Afghanistan	        2019	2065.036235	     NaN

2	Afghanistan	        2018	2033.804389	     NaN

3	Afghanistan	        2017	2058.400221	     NaN

4	Afghanistan	        2016	2057.067978	     NaN

5	Afghanistan	        2015	2068.265904	     NaN
â€‹

In [ ]:
#step 6
# to import a dataframe
# nrows will limit the rows used since our original file had multiple dataframes within it
internet_df = pd.read_csv('../data/internet_use.csv', nrows=4468)
internet_df.head(6)


Country or Area	Year	Value	Value Footnotes

0	Afghanistan	2014	6.390000	NaN

1	Afghanistan	2013	5.900000	NaN

2	Afghanistan	2012	5.454545	NaN

3	Afghanistan	2011	5.000000	NaN

4	Afghanistan	2010	4.000000	NaN

5	Afghanistan	2009	3.550000	NaN

In [ ]:
#step 7
# to find the rows and columns of the gdp dataframe
gdp_df.shape

(7176, 4)

In [ ]:
#step 7
# to find the rows and columns of the internet dataframe
internet_df.shape

(4468, 4)

In [ ]:
#step 8
# the datatypes for the columns
gdp_df.dtypes

Country or Area     object

Year                 int64

Value              float64

Value Footnotes    float64

dtype: object

In [ ]:
#step 8
# the datatypes of the columns
internet_df.dtypes

Country or Area     object

Year                 int64

Value              float64

Value Footnotes    float64

dtype: object

In [ ]:
#step 9
# the last 10 rows of the dataframe
gdp_df.tail(10)

Country or Area	Year	Value	Value Footnotes

7166	Zimbabwe	1999	2872.714795	NaN

7167	Zimbabwe	1998	2915.052992	NaN

7168	Zimbabwe	1997	2856.118188	NaN

7169	Zimbabwe	1996	2808.558556	NaN

7170	Zimbabwe	1995	2573.993785	NaN

7171	Zimbabwe	1994	2603.927369	NaN

7172	Zimbabwe	1993	2420.092791	NaN

7173	Zimbabwe	1992	2437.152908	NaN

7174	Zimbabwe	1991	2733.696626	NaN

7175	Zimbabwe	1990	2652.129209	NaN

In [ ]:
#step 9
# the last 10 rows of the dataframe
internet_df.tail(10)

	Country or Area	Year	Value	Value Footnotes

4458	Zambia	2007	4.870000	NaN

4459	Zambia	2006	4.159913	NaN

4460	Zambia	2005	2.851752	NaN

4461	Zambia	2004	2.013550	NaN

4462	Zambia	2003	0.980483	NaN

4463	Zambia	2002	0.477751	NaN

4464	Zambia	2001	0.233130	NaN

4465	Zambia	2000	0.191072	NaN

4466	Zambia	1999	0.147053	NaN

4467	Zambia	1998	0.030226	NaN

In [ ]:
#step 10
# dropping a column from the database type 1
gdp_df = gdp_df.drop('Value Footnotes', axis= 1)
gdp_df.head()

Country or Area	Year	Value

0	Afghanistan	2020	1970.560169

1	Afghanistan	2019	2065.036235

2	Afghanistan	2018	2033.804389

3	Afghanistan	2017	2058.400221

4	Afghanistan	2016	2057.067978

In [ ]:
#step 10
# dropping a column from a database type 2
internet_df = internet_df.drop(columns= ['Value Footnotes'])
internet_df.head()

	Country or Area	Year	Value
    
0	Afghanistan	2014	6.390000

1	Afghanistan	2013	5.900000

2	Afghanistan	2012	5.454545

3	Afghanistan	2011	5.000000

4	Afghanistan	2010	4.000000

In [ ]:
#step 11
# rename the column names in a dataframe
gdp_df.columns= ['Country', 'Year', 'GDP_Per_Capita']
gdp_df.head()

Country	Year	GDP_Per_Capita

0	Afghanistan	2020	1970.560169

1	Afghanistan	2019	2065.036235

2	Afghanistan	2018	2033.804389

3	Afghanistan	2017	2058.400221

4	Afghanistan	2016	2057.067978

In [ ]:
#step 12
# rename the column names in a dataframe
internet_df.columns= ['Country', 'Year', 'Internet_Users_Pct']
internet_df.head()

Country	Year	Internet_Users_Pct

0	Afghanistan	2014	6.390000

1	Afghanistan	2013	5.900000

2	Afghanistan	2012	5.454545

3	Afghanistan	2011	5.000000

4	Afghanistan	2010	4.000000

In [ ]:
#step 13
# merging two dataframes together with an inner join
gdp_and_internet_use = pd.merge(gdp_df, internet_df,
                                on= ['Country', 'Year'],
                                how= 'inner')

In [ ]:
#step 14
# show first 5 rows
gdp_and_internet_use.head()

Country	Year	GDP_Per_Capita	Internet_Users_Pct

0	Afghanistan	2014	2102.384604	6.390000

1	Afghanistan	2013	2116.465258	5.900000

2	Afghanistan	2012	2075.491614	5.454545

3	Afghanistan	2011	1904.559926	5.000000

4	Afghanistan	2010	1957.029070	4.000000

In [ ]:
#step 15
# show last 5 rows
gdp_and_internet_use.tail()

Country	Year	GDP_Per_Capita	Internet_Users_Pct

3383	Zambia	2002	2080.195690	0.477751

3384	Zambia	2001	2042.537498	0.233130

3385	Zambia	2000	1990.858991	0.191072

3386	Zambia	1999	1968.215220	0.147053

3387	Zambia	1998	1933.003767	0.030226

In [ ]:
# looking at datatypes for a dataframe
gdp_and_internet_use.dtypes

In [ ]:
#step 16
# filtering out certain years in the dataframe
gdp_and_internet_use = gdp_and_internet_use.loc[(gdp_and_internet_use.Year == '2004') | 
                                                (gdp_and_internet_use.Year == '2009') | 
                                                (gdp_and_internet_use.Year == '2014')]